
html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

}
body{
  padding-top: 34px !important;
  background-image: url("../images/background.jpg");
  background-position: center;
  background-size: cover;
}
p{
  margin: 0;
}
a{
  text-decoration: underline;
}
input, textarea{
  background-color: transparent;
  border: 0;
  &:focus{
    border: 0;
    outline: 0;
  }
}
::-webkit-scrollbar {
  display: none;
}
.v-center{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.full-span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container-grey{
  background-color: rgba(37,37,37,0.6);
  box-shadow: 2.5px 4.3px 30px 0 rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}
.logo-big{
  height: 50px;
  width: 200px;
  margin: 0 auto;
}
.scroll{
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 3px;
    display: block;
  }

  &::-webkit-scrollbar-track {

  }

  &::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
}
.scroll-line{
  width: 1px;
  height: calc(100% - 60px);
  background-color: #939393;
  position: absolute;
  right: 16px;
  top: 60px;
}
ul{
  padding-left: 0;
  margin-top: 0px;
  line-height: 23px;
  margin-bottom: 15px;
  img{
    width: 20px;
    height: 10px;
    display: inline-block;
  }
}
li{
  font-size: 10px;
  list-style: none;
}
.slider{
  margin: 0 auto;
  position: relative;
  text-transform: uppercase;
  height: 20px;
  line-height: 20px;
  input[type=range]{
    -webkit-appearance: none;
    height: 10px;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 1px;
    background: rgb(147,147,147);
    border: none;
    border-radius: 3px;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 6px;
    width: 9px;
    background: white;
    margin-top: -3px;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {

  }
  &:before, &:after{
    position: absolute;
    top: 0;
    font-size: 12px;
    font-weight: bold;
  }
  &:before{
    left: 111%;
  }
  &:after{
    right: 111%;
  }
}
.respect-rough{
   &:before{
     content: "rough";
   }
   &:after{
     content: "respect";
   }
}
.casual-expert{
  &:before{
    content: "expert";
  }
  &:after{
    content: "casual";
  }
}
.main-logo{
  margin-bottom: 25px;
  height: 42px;
  h1{
    font-size: 22.5px;
  }
  img{
    margin-right: 5px;
    height: 100%;
    width: auto;
  }
}
.nomargin{
  position: absolute;
  margin: 0 !important;
  text-decoration: none !important;
  text-align: inherit !important;

}
.profile-wrapper{
  position: fixed;
  top: 0;
  right: 0;
  width: 160px;
  height: 100px;
  h1{
    font-size: 15.1px;
    font-weight: normal;
    margin-right: 12px;
  }
  img{
    width: 31.4px;
    height: 31.4px;
  }
}