.login-container{
  width: 31.5vw;
  margin: 0 auto;
  h1,h2,p{
    font-weight: normal;
    text-align: center;
  }
  h1{
    font-size: 30px;

  }
  h2{
    font-size: 18px;
  }
  p{
    font-size: 14px;

  }
}