/*----------------------------------*\
    Talc
\*----------------------------------*/
/*
 TABLE OF CONTENTS
    01. Variables....................Imported via gulp and can be found in _vars.scss
    02. Utilities......................The general styles like align-center etc.
    03. Components...................Other SCSS components like _dividers.scss, _navigation.scss etc.
    04. Default Tags.................Like <body>, <h1> etc.
*/
/*
	Variables
*/
@import 'vars';
/*
	Utilities
*/
@import 'utilities/spacings';
@import 'utilities/headings';
@import 'utilities/images';
@import 'utilities/links';
@import 'utilities/text';
/*
	Grid
*/
@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';
/*
	Components
*/
//@import 'components/';
/*
	Globals
*/
@import 'globals';

body,html{
	margin: 0;
	padding: 0;
	background-color: $grey;
	font-family: 'Gill Sans MT', sans-serif;
	font-weight: normal;
	color: $dark-text;
}

caption, .as-caption{
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
	color: #4a90e2;
}
table{
	width: 100%;
}

th{
	font-size: 14px;
	font-weight: normal;
	line-height: 2.14;
	color: $light-text;
}

td{
	font-size: 16px;
	font-weight: 500;
	color: $dark-text;
}
header, #main-container, footer{
	margin: 0 auto;
	width: 100%;
	max-width: 620px;
}
#header-container{
	height: 112px;
	padding-top: 16px;
	padding-bottom: 20px;
	text-align: center;
}
#header-logo{
	height: 76px;
	width: auto;
	margin: 0 auto;
	display: block;
}

#main-container{
	background-color: white;
	padding:30px 20px 0px 20px;
	#main-title{
		display: block;
		color: $blue;
		font-size: 36px;
		font-weight: bold;
		text-align: center;
	}
	#main-subtitle{
		display: block;
		font-size: 18px;
		color: #4a4a4a;
		text-align: center;
		font-weight: normal;
		margin: 18px 0 31px 0;
	}
}
input, textarea{
	font-family: 'Gill Sans MT', sans-serif;
}