.full-span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.stream-container{
  width: 75vw;
  position: relative;
  padding: 0 11px;
  #video{
    @extend .full-span;
  }
}
.full-wrapper{
  @extend .full-span;
  position: relative;
  padding-top: 56.25%;
  #video{
    @extend .full-span;
  }
}
.vjs-thumbnail-holder{
  top: 50px;
  display: block !important;
}
.edit-container{
  display: none;
  width: 200px;
  height: 230px;
  position: absolute;
  bottom: -160px;
  padding: 0 10px;
  .edit-video-wrapper{
    font-size: 0;
    height: 140.6px;
    position: relative;
  }
  video{
    &:first-child{
      float: left;
    }
    &:last-child{
      float: right;
    }
    position: relative;
    height: auto;
    width: 49.5%;
    display: inline-block;
  }
}
#edit-controls{
  display: none;
  margin-top: 8px;
  .edit-button{
    position: absolute;
    width: 31px;
    height: 31px;
  }
  #generate{
    right: -41px;
  }
  #cancel{
    left: -41px;
  }
  input{
    position: absolute;
  }
  .clock-box{
    margin: 10px auto 0 auto;
  }
}
.created-gif{
  width: 400px;
  display: inline-block;
}
.marker{
  position: absolute;
  height: 100%;
  width: auto;
}
.marker-left{
  left:17px;
}
.marker-right{
  right: 17px;
}
.marker-now{
  left: 16px;
}
.noUi-test{
  height: 100%;
  position: absolute;
  width: 2px;
  background-color: red;
}
.clock-box{
  height: 22px;
  width: 65px;
  background-color: black;
  border-radius: 11px;
  color: white;
  text-align: center;
  line-height: 22px;
}
.side-container{
  position: fixed;
  width: calc(25vw - 11px);
  margin-right: 11px;
  right: 0;
  top: 0;
}
.stadium-container, .chat-container{
  padding: 8px 8px 8px 8px;
  font-size: 10px;
  .row{
    margin: 0;
    padding: 0;
  }
}
.stadium-opposing, .stadium-friendly{
  margin: 0;
  padding: 0;
}
.stadium-opposing{
  color: #b50a27;
  text-align: right;
  .stadium-profile, .progress-bar{
    background-color: #b50a27;
  }
  .progress-wrap{
    margin-right:15px;
  }
  .online-status{
    right: -1px;
  }
}
.stadium-friendly{
  color: #3e6425;
  text-align: left;
  .stadium-profile, .progress-bar{
    background-color: #3e6425;
  }
  .progress-wrap{
    margin-left:15px ;
  }
  .online-status{
    left: -1px;
  }
}
.stadium-profile{
  width: 34px;
  height: 34px;
  padding: 1.5px;
  margin: 2.2px 0;
  border-radius: 2px;
  position: relative;
  .online-status{
    width: 6px;
    height: 6px;
    position: absolute;
    bottom: -1px;
    border-radius: 50px;
    background-color: #00a752;
  }
  img{
    position: relative;
    border-radius: 1px;
  }

}
.stadium-profile-wrapper{
  margin: -3.5px 0;
}
.grey-bg{
  background-color: rgba(33,33,33,0.6);
}
.vs-bar{
  div{
    position: relative;
  }
  .vs-text{
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 14px;
    font-size: 14px;
    transform: translateX(50%);
  }
}
.top-bar{
  border-bottom: solid 0.8px #f4f4f2;
  padding-bottom: 5px !important;
  margin-bottom: 10px !important;
}
.progress {
  height: 100%;
  width: 40px;
}
.progress-wrap {
  overflow: hidden;
  position: relative;
  border-radius: 2px;
  .progress-bar {
    border-radius: 2px;
    left: 0;
    position: absolute;
    top: 0;
  }
  .progress-count{
    position: absolute;
    top: -8px;
    text-align: center;
    width:100%;
    font-size: 6px;
    color: white;
  }
}
.chat-container{
  margin-top: 5px;
  border-radius: 4px;
  .chat-main{
    position: relative;
    margin-bottom: 50px;
  }
  .chat-wrapper{
    font-size: 7px;
    position: relative;
    margin-bottom: 5px;
  }
  .stadium-profile{
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .message-name, .message-content{
    margin-left: 30px;
    padding-left: 5px;
    text-align: left;
  }
  .message-name{
    color: #6b6b6b;
  }
  .message-content{
    padding: 5px;
    margin-bottom: 5px;
    max-width: 150px;
    background-color: #393939;
    color: white;
    border-radius: 3px;
  }
}
.chat-input{
  position: absolute;
  width: 100%;
  height: 50px;
  padding: 10px;
  bottom: 0;
  left: 0;
  .wrapper{
    border-radius: 3px;
    width: 100%;
    height: 100%;
    background-color: #393939;
  }
  textarea{
    width: 80%;
    resize: none;
    font-size: 7px;
    color: white;
  }
}
.chat-button{
  padding: 0 6px;
  height: 11px;
  line-height: 11px;
  border-radius: 6px;
  background-color: #171616;
  color: #bdbdbd;
  font-size: 8.5px;
  &.active{
    background-color: #bdbdbd;
    color: #171616;
  }
}