<!doctype html>
<html lang="en">

<head>
    <title>Virtual stadium by DataMiners</title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="styles/main.css" type="text/css" media="screen, print"/>
    <script src="scripts/main.js"></script>
</head>
<body>
<img class="logo-big">
<div class="container-centered container-grey">
    <img class="logo-circle">
    <h1>Please, register with your Facebook or Google account.</h1>
    <p class="grey">Don't worry, we won't take your personal data</p>
    <button class="facebook-login">Login with Facebook</button>
    <button class="google-login">Login with Google</button>
</div>
</body>
</html>