<!doctype html>
<html lang="en">
<head>
    <title>Virtual stadium by DataMiners</title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="styles/main.css" type="text/css" media="screen, print"/>
    <script src="scripts/main.js"></script>
</head>
<body>
<img class="logo-big">
<div class="container-centered container-grey login-container">
    <img class="logo-circle">
    <h1>Welcome to Virtual Stadium</h1>
    <h2>Watch sports online, chat with friends
        and support you team online. For free.</h2>
    <p>Please login to begin.</p>
    <button class="facebook-login">Login with Facebook</button>
    <button class="google-login">Login with Google</button>
</div>
</body>
</html>