<!doctype html>
<html lang="en">
<head>
    <title>Virtual stadium by DataMiners</title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="styles/main.css" type="text/css" media="screen, print"/>
    <script src="scripts/main.js"></script>
</head>
<body>
<div class="flex flex--row flex--justify-center flex--align-vertical main-logo">
    <img src="images/logo_login.png">
    <h1>Virtual Stadium</h1>
</div>
<div class="profile-wrapper flex flex--row flex--justify-center flex--align-vertical">
    <h1>Peter High</h1>
    <img src="images/profile_logout.png">
</div>
<div class="container-centered container-grey login-container">
    <img class="logo-circle" src="images/logo_login.png">
    <h1>Welcome to <b>Virtual Stadium</b></h1>
    <h2>Watch sports online, chat with friends
        and support you team online. For free.</h2>
    <p>Please login to begin.</p>
    <a href="match-select.html">
        <div class="flex flex--row flex--justify-center">
        <img class="facebook" src="images/facebook.png">
        <img class="google" src="images/google.png">
    </a>
    </div>
</div>
</body>
</html>