<!doctype html>
<html lang="en">

<head>
    <title>Virtual stadium by DataMiners</title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="styles/main.css" type="text/css" media="screen, print"/>
    <script src="scripts/main.js"></script>
</head>
<body>
<img src="logo-big.png" class="logo-big">
<div class="container-centered container-grey choose-container">
    <h1>Choose sport...</h1>
    <div class="row">
        <div class="flex flex--row flex--centered flex--justify-center sport-row">
            <img src="sport1.jpg">
            <img src="sport2.jpg">
            <img src="sport3.jpg">
            <img src="sport4.jpg">
            <img src="sport5.jpg">
            <img src="sport6.jpg">
            <img src="sport7.jpg">
            <img src="sport8.jpg">
        </div>
        <a>Other sports...</a>
    </div>

    <div class="row match-row">
        <div class="col-xs-4">
            <div class="scroll-line"></div>
            <input type="text" placeholder="search">
            <div class="scroll">
                <label>Your favorites:</label>
                <ul class="favorites-list">
                    <li><img src="images/spain.jpg">La liga</li>
                    <li><img src="images/spain.jpg">La liga</li>
                    <li><img src="images/spain.jpg">La liga</li>
                    <li><img src="images/spain.jpg">La liga</li>
                </ul>
                <label>Other countries:</label>
                <ul class="other-list">
                    <li><span class="small-icon">&#9658;</span> Algeria</li>
                    <li><span class="small-icon">&#9658;</span> Algeria</li>
                    <li><span class="small-icon">&#9658;</span> Algeria</li>
                    <li><span class="small-icon">&#9658;</span> Algeria</li>
                    <li><span class="small-icon">&#9658;</span> Algeria</li>
                    <li><span class="small-icon">&#9658;</span> Algeria</li>
                    <li><span class="small-icon">&#9658;</span> Algeria</li>
                    <li><span class="small-icon">&#9658;</span> Algeria</li>
                    <li><span class="small-icon">&#9658;</span> Algeria</li>
                    <li><span class="small-icon">&#9658;</span> Algeria</li>
                    <li><span class="small-icon">&#9658;</span> Algeria</li>
                    <li><span class="small-icon">&#9658;</span> Algeria</li>
                    <li><span class="small-icon">&#9658;</span> Algeria</li>
                    <li><span class="small-icon">&#9658;</span> Algeria</li>
                    <li><span class="small-icon">&#9658;</span> Algeria</li>
                    <li><span class="small-icon">&#9658;</span> Algeria</li>
                    <li><span class="small-icon">&#9658;</span> Algeria</li>
                    <li><span class="small-icon">&#9658;</span> Algeria</li>
                    <li><span class="small-icon">&#9658;</span> Algeria</li>
                    <li><span class="small-icon">&#9658;</span> Algeria</li>
                    <li><span class="small-icon">&#9658;</span> Algeria</li>
                    <li><span class="small-icon">&#9658;</span> Algeria</li>
                    <li><span class="small-icon">&#9658;</span> Algeria</li>
                    <li><span class="small-icon">&#9658;</span> Algeria</li>
                    <li><span class="small-icon">&#9658;</span> Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                    <li>&#9658; Algeria</li>
                </ul>
            </div>
        </div>
        <div class="col-xs-8">
            <table class="table-favorites">
                <caption class="text-center">Favorites</caption>
                <tr>
                    <th>K/O</th>
                    <th>Time</th>
                    <th>League</th>
                    <th>Home</th>
                    <th>Away</th>
                    <th>SCORE</th>
                </tr>
                <tr>
                    <td>18:30</td>
                    <td>85'</td>
                    <td><img src="images/spain.jpg">SP</td>
                    <td>real madrid</td>
                    <td>FC barcelona</td>
                    <td>1-0</td>
                </tr>
                <tr>
                    <td>18:30</td>
                    <td>85'</td>
                    <td><img src="images/spain.jpg">SP</td>
                    <td>real madrid</td>
                    <td>FC barcelona</td>
                    <td>1-0</td>
                </tr>
                <tr>
                    <td>18:30</td>
                    <td>85'</td>
                    <td><img src="images/spain.jpg">SP</td>
                    <td>real madrid</td>
                    <td>FC barcelona</td>
                    <td>1-0</td>
                </tr>
                <tr>
                    <td>18:30</td>
                    <td>85'</td>
                    <td><img src="images/spain.jpg">SP</td>
                    <td>real madrid</td>
                    <td>FC barcelona</td>
                    <td>1-0</td>
                </tr>
                <tr>
                    <td>18:30</td>
                    <td>85'</td>
                    <td><img src="images/spain.jpg">SP</td>
                    <td>real madrid</td>
                    <td>FC barcelona</td>
                    <td>1-0</td>
                </tr>
                <tr>
                    <td>18:30</td>
                    <td>85'</td>
                    <td><img src="images/spain.jpg">SP</td>
                    <td>real madrid</td>
                    <td>FC barcelona</td>
                    <td>1-0</td>
                </tr>
                <tr>
                    <td>18:30</td>
                    <td>85'</td>
                    <td><img src="images/spain.jpg">SP</td>
                    <td>real madrid</td>
                    <td>FC barcelona</td>
                    <td>1-0</td>
                </tr>
                <tr>
                    <td>18:30</td>
                    <td>85'</td>
                    <td><img src="images/spain.jpg">SP</td>
                    <td>real madrid</td>
                    <td>FC barcelona</td>
                    <td>1-0</td>
                </tr>
            </table>
            <table class="table-trending">
                <caption class="text-center">Trending</caption>

                <tr>
                    <th>K/O</th>
                    <th>Time</th>
                    <th>League</th>
                    <th>Home</th>
                    <th>Away</th>
                    <th>SCORE</th>
                </tr>
                <tr>
                    <td>18:30</td>
                    <td>85'</td>
                    <td><img src="images/spain.jpg">SP</td>
                    <td>real madrid</td>
                    <td>FC barcelona</td>
                    <td>1-0</td>
                </tr>
                <tr>
                    <td>18:30</td>
                    <td>85'</td>
                    <td><img src="images/spain.jpg">SP</td>
                    <td>real madrid</td>
                    <td>FC barcelona</td>
                    <td>1-0</td>
                </tr>
                <tr>
                    <td>18:30</td>
                    <td>85'</td>
                    <td><img src="images/spain.jpg">SP</td>
                    <td>real madrid</td>
                    <td>FC barcelona</td>
                    <td>1-0</td>
                </tr>
                <tr>
                    <td>18:30</td>
                    <td>85'</td>
                    <td><img src="images/spain.jpg">SP</td>
                    <td>real madrid</td>
                    <td>FC barcelona</td>
                    <td>1-0</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>