<!doctype html>
<html lang="en">

<head>
    <title>Virtual stadium by DataMiners</title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="styles/main.css" type="text/css" media="screen, print"/>
    <script src="scripts/main.js"></script>
</head>
<body>
<img class="logo-big">
<div class="container-centered container-grey">
    <h1>Choose game and team...</h1>
    <div class="divide-line"></div>
    <div class="row">
        <div class="col-xs-6">
            <ul>
                <li>
                    <span class="team-left">Real</span> vs. <span class="team-right">Barca</span>
                </li>
                <li>
                    <span class="team-left">Real</span> vs. <span class="team-right">Barca</span>
                </li>
                <li>
                    <span class="team-left">Real</span> vs. <span class="team-right">Barca</span>
                </li>
                <li>
                    <span class="team-left">Real</span> vs. <span class="team-right">Barca</span>
                </li>
                <li>
                    <span class="team-left">Real</span> vs. <span class="team-right">Barca</span>
                </li>
            </ul>
        </div>
        <div class="col-xs-6">
            <ul>
                <li>
                    <span class="team-left">Real</span> vs. <span class="team-right">Barca</span>
                </li>
                <li>
                    <span class="team-left">Real</span> vs. <span class="team-right">Barca</span>
                </li>
                <li>
                    <span class="team-left">Real</span> vs. <span class="team-right">Barca</span>
                </li>
                <li>
                    <span class="team-left">Real</span> vs. <span class="team-right">Barca</span>
                </li>
                <li>
                    <span class="team-left">Real</span> vs. <span class="team-right">Barca</span>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>