<!doctype html>
<html lang="en">

<head>
    <title>Virtual stadium by DataMiners</title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="styles/main.css" type="text/css" media="screen, print"/>
    <script src="scripts/main.js"></script>
</head>
<body>
<div class="flex flex--row flex--justify-center flex--align-vertical main-logo">
    <img src="images/logo_login.png">
    <h1>Virtual Stadium</h1>
</div>
<div class="profile-wrapper flex flex--row flex--justify-center flex--align-vertical">
    <h1>Peter High</h1>
    <img src="images/profile_logout.png">
</div>
<div class="container-centered container-grey choose-container">
    <h1>Choose sport...</h1>
    <div class="row">
        <div class="flex flex--row flex--centered flex--justify-center sport-row">
            <img src="images/sport1.png">
            <img src="images/sport2.png">
            <img src="images/sport3.png">
            <img src="images/sport4.png">
            <img src="images/sport5.png">
            <img src="images/sport6.png">
            <img src="images/sport7.png">
            <img src="images/sport8.png">
            <img src="images/sport9.png">
        </div>
        <a>Other sports...</a>
    </div>

    <div class="row match-row">
        <div class="col-xs-4">
            <div class="scroll-line"></div>
            <input type="text" placeholder="Search">
            <div class="scroll">
                <label>Your favorites:</label>
                <ul class="favorites-list">
                    <li><img src="images/spain.png">La Liga</li>
                    <li><img src="images/england.png">Premier League</li>
                    <li><img src="images/italy.png">Serie A</li>
                    <li><img src="images/germany.png">Budnesliga</li>
                </ul>
                <label>Other countries:</label>
                <ul class="other-list">
                    <li><span class="small-icon">&#9658;</span>Afghanistan</li>
                    <li><span class="small-icon">&#9658;</span>Albania</li>
                    <li><span class="small-icon">&#9658;</span>Algeria</li>
                    <li><span class="small-icon">&#9658;</span>Andorra</li>
                    <li><span class="small-icon">&#9658;</span>Angola</li>
                    <li><span class="small-icon">&#9658;</span>Antigua and Barbuda</li>
                    <li><span class="small-icon">&#9658;</span>Argentina</li>
                    <li><span class="small-icon">&#9658;</span>Armenia</li>
                    <li><span class="small-icon">&#9658;</span>Aruba</li>
                    <li><span class="small-icon">&#9658;</span>Australia</li>
                    <li><span class="small-icon">&#9658;</span>Austria</li>
                    <li><span class="small-icon">&#9658;</span>Azerbaijan</li>
                    <li><span class="small-icon">&#9658;</span>Bahamas, The</li>
                    <li><span class="small-icon">&#9658;</span>Bahrain</li>
                    <li><span class="small-icon">&#9658;</span>Bangladesh</li>
                    <li><span class="small-icon">&#9658;</span>Barbados</li>
                    <li><span class="small-icon">&#9658;</span>Belarus</li>
                    <li><span class="small-icon">&#9658;</span>Belgium</li>
                    <li><span class="small-icon">&#9658;</span>Belize</li>
                    <li><span class="small-icon">&#9658;</span>Benin</li>
                    <li><span class="small-icon">&#9658;</span>Bhutan</li>
                    <li><span class="small-icon">&#9658;</span>Bolivia</li>
                    <li><span class="small-icon">&#9658;</span>Bosnia and Herzegovina</li>
                    <li><span class="small-icon">&#9658;</span>Botswana</li>
                    <li><span class="small-icon">&#9658;</span>Brazil</li>
                    <li><span class="small-icon">&#9658;</span>Brunei</li>
                    <li><span class="small-icon">&#9658;</span>Bulgaria</li>
                    <li><span class="small-icon">&#9658;</span>Burkina Faso</li>
                    <li><span class="small-icon">&#9658;</span>Burma</li>
                    <li><span class="small-icon">&#9658;</span>Burundi</li>
                    <li><span class="small-icon">&#9658;</span>Cambodia</li>
                    <li><span class="small-icon">&#9658;</span>Cameroon</li>
                    <li><span class="small-icon">&#9658;</span>Canada</li>
                    <li><span class="small-icon">&#9658;</span>Cabo Verde</li>
                    <li><span class="small-icon">&#9658;</span>Central African Republic</li>
                    <li><span class="small-icon">&#9658;</span>Chad</li>
                    <li><span class="small-icon">&#9658;</span>Chile</li>
                    <li><span class="small-icon">&#9658;</span>China</li>
                    <li><span class="small-icon">&#9658;</span>Colombia</li>
                    <li><span class="small-icon">&#9658;</span>Comoros</li>
                    <li><span class="small-icon">&#9658;</span>Costa Rica</li>
                    <li><span class="small-icon">&#9658;</span>Cote d'Ivoire</li>
                    <li><span class="small-icon">&#9658;</span>Croatia</li>
                    <li><span class="small-icon">&#9658;</span>Cuba</li>
                    <li><span class="small-icon">&#9658;</span>Curacao</li>
                    <li><span class="small-icon">&#9658;</span>Cyprus</li>
                    <li><span class="small-icon">&#9658;</span>Czechia</li>
                    <li><span class="small-icon">&#9658;</span>Denmark</li>
                    <li><span class="small-icon">&#9658;</span>Djibouti</li>
                    <li><span class="small-icon">&#9658;</span>Dominica</li>
                    <li><span class="small-icon">&#9658;</span>Dominican Republic</li>
                    <li><span class="small-icon">&#9658;</span>East Timor</li>
                    <li><span class="small-icon">&#9658;</span>Ecuador</li>
                    <li><span class="small-icon">&#9658;</span>Egypt</li>
                    <li><span class="small-icon">&#9658;</span>El Salvador</li>
                    <li><span class="small-icon">&#9658;</span>Equatorial Guinea</li>
                    <li><span class="small-icon">&#9658;</span>Eritrea</li>
                    <li><span class="small-icon">&#9658;</span>Estonia</li>
                    <li><span class="small-icon">&#9658;</span>Ethiopia</li>
                    <li><span class="small-icon">&#9658;</span>Fiji</li>
                    <li><span class="small-icon">&#9658;</span>Finland</li>
                    <li><span class="small-icon">&#9658;</span>France</li>
                    <li><span class="small-icon">&#9658;</span>Gabon</li>
                    <li><span class="small-icon">&#9658;</span>Gambia, The</li>
                    <li><span class="small-icon">&#9658;</span>Georgia</li>
                    <li><span class="small-icon">&#9658;</span>Germany</li>
                    <li><span class="small-icon">&#9658;</span>Ghana</li>
                    <li><span class="small-icon">&#9658;</span>Greece</li>
                    <li><span class="small-icon">&#9658;</span>Grenada</li>
                    <li><span class="small-icon">&#9658;</span>Guatemala</li>
                    <li><span class="small-icon">&#9658;</span>Guinea</li>
                    <li><span class="small-icon">&#9658;</span>Guinea-Bissau</li>
                    <li><span class="small-icon">&#9658;</span>Guyana</li>
                    <li><span class="small-icon">&#9658;</span>Haiti</li>
                    <li><span class="small-icon">&#9658;</span>Holy See</li>
                    <li><span class="small-icon">&#9658;</span>Honduras</li>
                    <li><span class="small-icon">&#9658;</span>Hong Kong</li>
                    <li><span class="small-icon">&#9658;</span>Hungary</li>
                    <li><span class="small-icon">&#9658;</span>Iceland</li>
                    <li><span class="small-icon">&#9658;</span>India</li>
                    <li><span class="small-icon">&#9658;</span>Indonesia</li>
                    <li><span class="small-icon">&#9658;</span>Iran</li>
                    <li><span class="small-icon">&#9658;</span>Iraq</li>
                    <li><span class="small-icon">&#9658;</span>Ireland</li>
                    <li><span class="small-icon">&#9658;</span>Israel</li>
                    <li><span class="small-icon">&#9658;</span>Italy</li>
                    <li><span class="small-icon">&#9658;</span>Jamaica</li>
                    <li><span class="small-icon">&#9658;</span>Japan</li>
                    <li><span class="small-icon">&#9658;</span>Jordan</li>
                    <li><span class="small-icon">&#9658;</span>Kazakhstan</li>
                    <li><span class="small-icon">&#9658;</span>Kenya</li>
                    <li><span class="small-icon">&#9658;</span>Kiribati</li>
                    <li><span class="small-icon">&#9658;</span>Korea, North</li>
                    <li><span class="small-icon">&#9658;</span>Korea, South</li>
                    <li><span class="small-icon">&#9658;</span>Kosovo</li>
                    <li><span class="small-icon">&#9658;</span>Kuwait</li>
                    <li><span class="small-icon">&#9658;</span>Kyrgyzstan</li>
                    <li><span class="small-icon">&#9658;</span>Laos</li>
                    <li><span class="small-icon">&#9658;</span>Latvia</li>
                    <li><span class="small-icon">&#9658;</span>Lebanon</li>
                    <li><span class="small-icon">&#9658;</span>Lesotho</li>
                    <li><span class="small-icon">&#9658;</span>Liberia</li>
                    <li><span class="small-icon">&#9658;</span>Libya</li>
                    <li><span class="small-icon">&#9658;</span>Liechtenstein</li>
                    <li><span class="small-icon">&#9658;</span>Lithuania</li>
                    <li><span class="small-icon">&#9658;</span>Luxembourg</li>
                    <li><span class="small-icon">&#9658;</span>Macau</li>
                    <li><span class="small-icon">&#9658;</span>Macedonia</li>
                    <li><span class="small-icon">&#9658;</span>Madagascar</li>
                    <li><span class="small-icon">&#9658;</span>Malawi</li>
                    <li><span class="small-icon">&#9658;</span>Malaysia</li>
                    <li><span class="small-icon">&#9658;</span>Maldives</li>
                    <li><span class="small-icon">&#9658;</span>Mali</li>
                    <li><span class="small-icon">&#9658;</span>Malta</li>
                    <li><span class="small-icon">&#9658;</span>Marshall Islands</li>
                    <li><span class="small-icon">&#9658;</span>Mauritania</li>
                    <li><span class="small-icon">&#9658;</span>Mauritius</li>
                    <li><span class="small-icon">&#9658;</span>Mexico</li>
                    <li><span class="small-icon">&#9658;</span>Micronesia</li>
                    <li><span class="small-icon">&#9658;</span>Moldova</li>
                    <li><span class="small-icon">&#9658;</span>Monaco</li>
                    <li><span class="small-icon">&#9658;</span>Mongolia</li>
                    <li><span class="small-icon">&#9658;</span>Montenegro</li>
                    <li><span class="small-icon">&#9658;</span>Morocco</li>
                    <li><span class="small-icon">&#9658;</span>Mozambique</li>
                    <li><span class="small-icon">&#9658;</span>Namibia</li>
                    <li><span class="small-icon">&#9658;</span>Nauru</li>
                    <li><span class="small-icon">&#9658;</span>Nepal</li>
                    <li><span class="small-icon">&#9658;</span>Netherlands</li>
                    <li><span class="small-icon">&#9658;</span>New Zealand</li>
                    <li><span class="small-icon">&#9658;</span>Nicaragua</li>
                    <li><span class="small-icon">&#9658;</span>Niger</li>
                    <li><span class="small-icon">&#9658;</span>Nigeria</li>
                    <li><span class="small-icon">&#9658;</span>North Korea</li>
                    <li><span class="small-icon">&#9658;</span>Norway</li>
                    <li><span class="small-icon">&#9658;</span>Oman</li>
                    <li><span class="small-icon">&#9658;</span>Pakistan</li>
                    <li><span class="small-icon">&#9658;</span>Palau</li>
                    <li><span class="small-icon">&#9658;</span>Palestinian Territories</li>
                    <li><span class="small-icon">&#9658;</span>Panama</li>
                    <li><span class="small-icon">&#9658;</span>Papua New Guinea</li>
                    <li><span class="small-icon">&#9658;</span>Paraguay</li>
                    <li><span class="small-icon">&#9658;</span>Peru</li>
                    <li><span class="small-icon">&#9658;</span>Philippines</li>
                    <li><span class="small-icon">&#9658;</span>Poland</li>
                    <li><span class="small-icon">&#9658;</span>Portugal</li>
                    <li><span class="small-icon">&#9658;</span>Qatar</li>
                    <li><span class="small-icon">&#9658;</span>Romania</li>
                    <li><span class="small-icon">&#9658;</span>Russia</li>
                    <li><span class="small-icon">&#9658;</span>Rwanda</li>
                    <li><span class="small-icon">&#9658;</span>Saint Kitts and Nevis</li>
                    <li><span class="small-icon">&#9658;</span>Saint Lucia</li>
                    <li><span class="small-icon">&#9658;</span>Saint Vincent and the Grenadines</li>
                    <li><span class="small-icon">&#9658;</span>Samoa</li>
                    <li><span class="small-icon">&#9658;</span>San Marino</li>
                    <li><span class="small-icon">&#9658;</span>Sao Tome and Principe</li>
                    <li><span class="small-icon">&#9658;</span>Saudi Arabia</li>
                    <li><span class="small-icon">&#9658;</span>Senegal</li>
                    <li><span class="small-icon">&#9658;</span>Serbia</li>
                    <li><span class="small-icon">&#9658;</span>Seychelles</li>
                    <li><span class="small-icon">&#9658;</span>Sierra Leone</li>
                    <li><span class="small-icon">&#9658;</span>Singapore</li>
                    <li><span class="small-icon">&#9658;</span>Sint Maarten</li>
                    <li><span class="small-icon">&#9658;</span>Slovakia</li>
                    <li><span class="small-icon">&#9658;</span>Slovenia</li>
                    <li><span class="small-icon">&#9658;</span>Solomon Islands</li>
                    <li><span class="small-icon">&#9658;</span>Somalia</li>
                    <li><span class="small-icon">&#9658;</span>South Africa</li>
                    <li><span class="small-icon">&#9658;</span>South Korea</li>
                    <li><span class="small-icon">&#9658;</span>South Sudan</li>
                    <li><span class="small-icon">&#9658;</span>Spain</li>
                    <li><span class="small-icon">&#9658;</span>Sri Lanka</li>
                    <li><span class="small-icon">&#9658;</span>Sudan</li>
                    <li><span class="small-icon">&#9658;</span>Suriname</li>
                    <li><span class="small-icon">&#9658;</span>Swaziland</li>
                    <li><span class="small-icon">&#9658;</span>Sweden</li>
                    <li><span class="small-icon">&#9658;</span>Switzerland</li>
                    <li><span class="small-icon">&#9658;</span>Syria</li>
                    <li><span class="small-icon">&#9658;</span>Taiwan</li>
                    <li><span class="small-icon">&#9658;</span>Tajikistan</li>
                    <li><span class="small-icon">&#9658;</span>Tanzania</li>
                    <li><span class="small-icon">&#9658;</span>Thailand</li>
                    <li><span class="small-icon">&#9658;</span>Timor-Leste</li>
                    <li><span class="small-icon">&#9658;</span>Togo</li>
                    <li><span class="small-icon">&#9658;</span>Tonga</li>
                    <li><span class="small-icon">&#9658;</span>Trinidad and Tobago</li>
                    <li><span class="small-icon">&#9658;</span>Tunisia</li>
                    <li><span class="small-icon">&#9658;</span>Turkey</li>
                    <li><span class="small-icon">&#9658;</span>Turkmenistan</li>
                    <li><span class="small-icon">&#9658;</span>Tuvalu</li>
                    <li><span class="small-icon">&#9658;</span>Uganda</li>
                    <li><span class="small-icon">&#9658;</span>Ukraine</li>
                    <li><span class="small-icon">&#9658;</span>United Arab Emirates</li>
                    <li><span class="small-icon">&#9658;</span>United Kingdom</li>
                    <li><span class="small-icon">&#9658;</span>Uruguay</li>
                    <li><span class="small-icon">&#9658;</span>Uzbekistan</li>
                    <li><span class="small-icon">&#9658;</span>Vanuatu</li>
                    <li><span class="small-icon">&#9658;</span>Venezuela</li>
                    <li><span class="small-icon">&#9658;</span>Vietnam</li>
                    <li><span class="small-icon">&#9658;</span>Yemen</li>
                    <li><span class="small-icon">&#9658;</span>Zambia</li>
                    <li><span class="small-icon">&#9658;</span>Zimbabwe</li>

                </ul>
            </div>
        </div>
        <div class="col-xs-8">
            <table class="table-favorites">
                <caption class="text-center">Favorites</caption>
                <tr>
                    <th>K/O</th>
                    <th>Time</th>
                    <th>League</th>
                    <th>Home</th>
                    <th>Away</th>
                    <th>SCORE</th>
                </tr>

                <tr>
                    <td>17:15</td>
                    <td>13'</td>
                    <td><img src="images/spain.png">SP</td>
                    <td><a href="stadium-select.html" class="nomargin">Real Madrid</a></td>
                    <td>Barcelona</td>
                    <td>1-0</td>
                </tr>
                <tr>
                    <td>20:00</td>
                    <td>Sch</td>
                    <td><img src="images/serbia.png">SP</td><td>Partizan</td>
                    <td>Napredak</td>
                    <td>3-2</td>
                </tr>
                <tr>
                    <td>15:00</td>
                    <td>Fin</td>
                    <td><img src="images/spain.png">SP</td><td>Real Sociedad</td>
                    <td>Sevilla</td>
                    <td>1-2</td>
                </tr>
                <tr>
                    <td>19:30</td>
                    <td>Sch</td>
                    <td><img src="images/spain.png">SP</td><td>Espanyol</td>
                    <td>Malaga</td>
                    <td>/</td>
                </tr>
                <tr>
                    <td>21:00</td>
                    <td>Sch</td>
                    <td><img src="images/spain.png">SP</td><td>Valencia</td>
                    <td>Las Palmas</td>
                    <td>/</td>
                </tr>
                <tr>
                    <td>21:00</td>
                    <td>Sch</td>
                    <td><img src="images/spain.png">SP</td><td>Deportivo La Coruna</td>
                    <td>Celta Vigo</td>
                    <td>/</td>
                </tr>
                <tr>
                    <td>22.Nov</td>
                    <td>Sch</td>
                    <td><img src="images/spain.png">SP</td><td>Sporting Gijon</td>
                    <td>Levante</td>
                    <td>/</td>
                </tr>
                <tr>
                    <td>22.Nov</td>
                    <td>Sch</td>
                    <td><img src="images/spain.png">SP</td><td>Villarreal</td>
                    <td>Eibar</td>
                    <td>/</td>
                </tr>
                <tr>
                    <td>22.Nov</td>
                    <td>Sch</td>
                    <td><img src="images/spain.png">SP</td><td>Granada</td>
                    <td>Athletic Bilbao</td>
                    <td>/</td>
                </tr>
                <tr>
                    <td>22.Nov</td>
                    <td>Sch</td>
                    <td><img src="images/spain.png">SP</td><td>Real Betis</td>
                    <td>Atletico Madrid</td>
                    <td>/</td>
                </tr>
                <tr>
                    <td>23.Nov</td>
                    <td>Sch</td>
                    <td><img src="images/spain.png">SP</td><td>Getafe</td>
                    <td>Rayo Vallecano</td>
                    <td>/</td>
                </tr>
            </table>

            <table class="table-trending">
                <caption class="text-center">Trending</caption>

                <tr>
                    <th>K/O</th>
                    <th>Time</th>
                    <th>League</th>
                    <th>Home</th>
                    <th>Away</th>
                    <th>SCORE</th>
                </tr>
                <tr>
                    <td>16:00</td>
                    <td>73'</td>
                    <td><img src="images/germany.png">SP</td>
                    <td>Bayern Munich</td>
                    <td>Bayer</td>
                    <td>2-1</td>
                </tr>
                <tr>
                    <td>16:40</td>
                    <td>H/T</td>
                    <td><img src="images/england.png">SP</td>
                    <td>Chelsea</td>
                    <td>Manchester United</td>
                    <td>1-1</td>
                </tr>
                <tr>
                    <td>17:00</td>
                    <td>28'</td>
                    <td><img src="images/spain.png">SP</td>
                    <td>NK Olimpia</td>
                    <td>NK Maribor</td>
                    <td>0-0</td>
                </tr>
                <tr>
                    <td>17:30</td>
                    <td>In 2'</td>
                    <td><img src="images/italy.png">SP</td>
                    <td>Juventus</td>
                    <td>Inter Milan</td>
                    <td>/</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>