<!doctype html>
<html lang="en">

<head>
    <title>Virtual stadium by DataMiners</title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="styles/main.css" type="text/css" media="screen, print"/>
    <script src="scripts/main.js"></script>
</head>
<body>
<img class="logo-big">
<div class="container-centered container-grey">
    <h1>Choose sport...</h1>
    <div class="divide-line"></div>
    <div class="container-centered">
        <div class="flex--row flex--centered">
            <img src="sport1.jpg">
            <img src="sport2.jpg">
            <img src="sport3.jpg">
        </div>
    </div>
</div>
</body>
</html>