<!doctype html>
<html lang="en">

<head>
    <title>Virtual stadium by DataMiners</title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="styles/main.css" type="text/css" media="screen, print"/>
    <script src="scripts/main.js"></script>
</head>
<body>
<img class="logo-big">
<div class="container-centered container-grey">
    <h1>Choose stadium...</h1>
    <p class="grey">Or create yours and invite friends</p>
    <div class="divide-line"></div>
    <h2>Fliters</h2>
    <ul class="inline">
        <li>rough</li>
        <li>menonly</li>
        <li>womenonly</li>
        <li>soft</li>
        <li>crazy</li>
        <li>ronaldofans</li>
        <li>messifans</li>
        <li>rough</li>
        <li>menonly</li>
        <li>womenonly</li>
        <li>soft</li>
        <li>crazy</li>
        <li>ronaldofans</li>
        <li>messifans</li>
        <li>rough</li>
        <li>menonly</li>
        <li>womenonly</li>
        <li>soft</li>
        <li>crazy</li>
        <li>ronaldofans</li>
        <li>messifans</li>
    </ul>
    <div class="divide-line"></div>
    <div class="row">
        <div class="col-xs-4">
            <div class="flex--row flex--centered">
                <div class="stadium-tile"></div>
            </div>
        </div>
        <div class="col-xs-4"></div>
        <div class="col-xs-4"></div>
    </div>
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4"></div>
        <div class="col-xs-4"></div>
    </div>
</div>
</body>
</html>