<!doctype html>
<html lang="en">

<head>
    <title>Virtual stadium by DataMiners</title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="styles/main.css" type="text/css" media="screen, print"/>
</head>
<body>
<img class="logo-big">
<div class="stream-container">
    <div class="full-wrapper">
        <video id="video" class="video-js vjs-default-skin"
               controls preload="auto" width="640" height="264"
               data-setup='{"example_option":true}' autoplay="true" muted="true">
            <source src="images/sample-video.mp4">
        </video>
    </div>
    <div class="edit-container grey-bg">
        <div class="edit-video-wrapper">
            <video id="edit-video-content"> 
                <source src="images/sample-video.mp4">
            </video>
            <video id="edit-video-camera">
                <source src="images/sample-camera.mp4">
            </video>
        </div>
        <div id='edit-controls'>
            <div id="slider">
                <div id="generate" class="edit-button v-center" >
                    <img src="images/generate.png" >
                </div>
                <div id="cancel" class="edit-button v-center">
                    <img src="images/cancel.png">
                </div>
            </div>
            <div class="clock-box">
                00:00
            </div>
        </div>
    </div>
</div>
<div class="side-container">
    <div class="stadium-container grey-bg">
        <div class="row vs-bar top-bar">
            <div class="col-xs-6 stadium-friendly">
                REAL MADRID
                <div class="vs-text">2:3</div>
            </div>
            <div class="col-xs-6 stadium-opposing">
                FC BARCELONA
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 flex flex--row flex--justify-left stadium-friendly">
                <div class="flex flex--column flex--justify-space-between stadium-profile-wrapper">
                    <div class="stadium-profile">
                        <img src="images/sample-profile.png" class="full-span">
                        <div class="online-status"></div>
                    </div>
                    <div class="stadium-profile">
                        <img src="images/sample-profile.png" class="full-span">
                        <div class="online-status"></div>
                    </div>
                    <div class="stadium-profile">
                        <img src="images/sample-profile.png" class="full-span">
                        <div class="online-status"></div>
                    </div>
                </div>
                <div class="progress-wrap progress progress-bar1" data-progress-percent="25">

                    <div class="progress-bar progress">
                        <div class="progress-count">10.000</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 flex flex--row-reverse flex--justify-left stadium-opposing">
                <div class="flex flex--column flex--justify-space-between stadium-profile-wrapper">
                    <div class="stadium-profile">
                        <img src="images/sample-profile.png" class="full-span">
                        <div class="online-status"></div>
                    </div>
                    <div class="stadium-profile">
                        <img src="images/sample-profile.png" class="full-span">
                        <div class="online-status"></div>
                    </div>
                    <div class="stadium-profile">
                        <img src="images/sample-profile.png" class="full-span">
                        <div class="online-status"></div>
                    </div>
                </div>
                <div class="progress-wrap progress" data-progress-percent="75">

                    <div class="progress-bar progress progress-bar2">
                        <div class="progress-count">13.000</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="chat-container grey-bg">
        <div class="row top-bar chat-head">
            <div class="chat-button active">CHAT</div>
            <div class="chat-button inactive">STATISTICS</div>
        </div>
        <div class="chat-main">
            <div class="chat-wrapper stadium-friendly">
                <div class="stadium-profile">
                    <img src="images/sample-profile.png" class="full-span">
                </div>
                <div class="message-name">Maya</div>
                <div class="message-content">Ronaldo bla bla bla bla bla bla bla bla bla bla bla bla</div>
                <div class="message-content">Messi bla bla bla bla bla bla bla bla bla bla bla bla</div>
            </div>
            <div class="chat-wrapper stadium-opposing">
                <div class="stadium-profile">
                    <img src="images/sample-profile.png" class="full-span">
                </div>
                <div class="message-name">Jože</div>
                <div class="message-content">Ronaldo bla bla bla bla bla bla bla bla bla bla bla bla</div>
                <div class="message-content">Messi bla bla bla bla bla bla bla bla bla bla bla bla</div>
                <div class="message-content">pedr</div>
            </div>
        </div>
        <div class="chat-input">
            <div class="wrapper">
                <textarea placeholder="Type your message."></textarea>
                <div class="submit" ></div>
            </div>
        </div>
    </div>
</div>


<script src="scripts/main.js"></script>
<script>
    // initialize k-video.js on a video
    var video = videojs('video');
    video.html5Thumbnails({id:'video', autoPlay: true});
</script>

<script>
 initSlider()

</script>

</body>
</html>